# PlanAhead Generated physical constraints 

NET "clk_in" LOC = P125;
NET "spi_clk_in" LOC = P142;
NET "spi_miso_out" LOC = P139;
NET "spi_mosi_in" LOC = P138;
NET "spi_ncs_in" LOC = P117;
NET "nixies[59]" LOC = P3;
NET "nixies[58]" LOC = P116;
NET "nixies[57]" LOC = P115;
NET "nixies[56]" LOC = P114;
NET "nixies[55]" LOC = P113;
NET "nixies[54]" LOC = P112;
NET "nixies[53]" LOC = P111;
NET "nixies[52]" LOC = P110;
NET "nixies[51]" LOC = P105;
NET "nixies[50]" LOC = P104;
NET "nixies[49]" LOC = P103;
NET "nixies[48]" LOC = P102;
NET "nixies[47]" LOC = P101;
NET "nixies[46]" LOC = P99;
NET "nixies[45]" LOC = P98;
NET "nixies[44]" LOC = P96;
NET "nixies[43]" LOC = P93;
NET "nixies[42]" LOC = P92;
NET "nixies[41]" LOC = P91;
NET "nixies[40]" LOC = P90;
NET "nixies[39]" LOC = P88;
NET "nixies[38]" LOC = P87;
NET "nixies[37]" LOC = P85;
NET "nixies[36]" LOC = P84;
NET "nixies[35]" LOC = P83;
NET "nixies[34]" LOC = P82;
NET "nixies[33]" LOC = P79;
NET "nixies[32]" LOC = P78;
NET "nixies[31]" LOC = P77;
NET "nixies[30]" LOC = P76;
NET "nixies[29]" LOC = P75;
NET "nixies[28]" LOC = P72;
NET "nixies[27]" LOC = P71;
NET "nixies[26]" LOC = P70;
NET "nixies[25]" LOC = P69;
NET "nixies[24]" LOC = P68;
NET "nixies[23]" LOC = P60;
NET "nixies[22]" LOC = P59;
NET "nixies[21]" LOC = P58;
NET "nixies[20]" LOC = P57;
NET "nixies[19]" LOC = P31;
NET "nixies[18]" LOC = P30;
NET "nixies[17]" LOC = P29;
NET "nixies[16]" LOC = P28;
NET "nixies[15]" LOC = P27;
NET "nixies[14]" LOC = P25;
NET "nixies[13]" LOC = P24;
NET "nixies[12]" LOC = P19;
NET "nixies[11]" LOC = P18;
NET "nixies[10]" LOC = P16;
NET "nixies[9]" LOC = P15;
NET "nixies[8]" LOC = P13;
NET "nixies[7]" LOC = P12;
NET "nixies[6]" LOC = P11;
NET "nixies[5]" LOC = P10;
NET "nixies[4]" LOC = P8;
NET "nixies[3]" LOC = P7;
NET "nixies[2]" LOC = P6;
NET "nixies[1]" LOC = P5;
NET "nixies[0]" LOC = P4;

# PlanAhead Generated IO constraints 

NET "clk_in" IOSTANDARD = LVTTL;
NET "spi_clk_in" IOSTANDARD = LVTTL;
NET "spi_miso_out" IOSTANDARD = LVTTL;
NET "spi_mosi_in" IOSTANDARD = LVTTL;
NET "spi_ncs_in" IOSTANDARD = LVTTL;
NET "nixies[0]" IOSTANDARD = LVTTL;
NET "nixies[58]" IOSTANDARD = LVTTL;
NET "nixies[59]" IOSTANDARD = LVTTL;
NET "nixies[57]" IOSTANDARD = LVTTL;
NET "nixies[56]" IOSTANDARD = LVTTL;
NET "nixies[55]" IOSTANDARD = LVTTL;
NET "nixies[54]" IOSTANDARD = LVTTL;
NET "nixies[53]" IOSTANDARD = LVTTL;
NET "nixies[52]" IOSTANDARD = LVTTL;
NET "nixies[51]" IOSTANDARD = LVTTL;
NET "nixies[50]" IOSTANDARD = LVTTL;
NET "nixies[49]" IOSTANDARD = LVTTL;
NET "nixies[48]" IOSTANDARD = LVTTL;
NET "nixies[47]" IOSTANDARD = LVTTL;
NET "nixies[46]" IOSTANDARD = LVTTL;
NET "nixies[45]" IOSTANDARD = LVTTL;
NET "nixies[44]" IOSTANDARD = LVTTL;
NET "nixies[43]" IOSTANDARD = LVTTL;
NET "nixies[42]" IOSTANDARD = LVTTL;
NET "nixies[41]" IOSTANDARD = LVTTL;
NET "nixies[40]" IOSTANDARD = LVTTL;
NET "nixies[39]" IOSTANDARD = LVTTL;
NET "nixies[38]" IOSTANDARD = LVTTL;
NET "nixies[37]" IOSTANDARD = LVTTL;
NET "nixies[36]" IOSTANDARD = LVTTL;
NET "nixies[35]" IOSTANDARD = LVTTL;
NET "nixies[34]" IOSTANDARD = LVTTL;
NET "nixies[33]" IOSTANDARD = LVTTL;
NET "nixies[32]" IOSTANDARD = LVTTL;
NET "nixies[31]" IOSTANDARD = LVTTL;
NET "nixies[30]" IOSTANDARD = LVTTL;
NET "nixies[29]" IOSTANDARD = LVTTL;
NET "nixies[28]" IOSTANDARD = LVTTL;
NET "nixies[27]" IOSTANDARD = LVTTL;
NET "nixies[26]" IOSTANDARD = LVTTL;
NET "nixies[25]" IOSTANDARD = LVTTL;
NET "nixies[24]" IOSTANDARD = LVTTL;
NET "nixies[23]" IOSTANDARD = LVTTL;
NET "nixies[22]" IOSTANDARD = LVTTL;
NET "nixies[21]" IOSTANDARD = LVTTL;
NET "nixies[19]" IOSTANDARD = LVTTL;
NET "nixies[20]" IOSTANDARD = LVTTL;
NET "nixies[18]" IOSTANDARD = LVTTL;
NET "nixies[17]" IOSTANDARD = LVTTL;
NET "nixies[16]" IOSTANDARD = LVTTL;
NET "nixies[15]" IOSTANDARD = LVTTL;
NET "nixies[14]" IOSTANDARD = LVTTL;
NET "nixies[13]" IOSTANDARD = LVTTL;
NET "nixies[12]" IOSTANDARD = LVTTL;
NET "nixies[11]" IOSTANDARD = LVTTL;
NET "nixies[10]" IOSTANDARD = LVTTL;
NET "nixies[9]" IOSTANDARD = LVTTL;
NET "nixies[8]" IOSTANDARD = LVTTL;
NET "nixies[7]" IOSTANDARD = LVTTL;
NET "nixies[6]" IOSTANDARD = LVTTL;
NET "nixies[5]" IOSTANDARD = LVTTL;
NET "nixies[4]" IOSTANDARD = LVTTL;
NET "nixies[3]" IOSTANDARD = LVTTL;
NET "nixies[2]" IOSTANDARD = LVTTL;
NET "nixies[1]" IOSTANDARD = LVTTL;
