//! **************************************************************************
// Written by: Map P.20131013 on Sun Jul 31 20:17:24 2016
//! **************************************************************************

SCHEMATIC START;
COMP "nixies<10>" LOCATE = SITE "P16" LEVEL 1;
COMP "nixies<11>" LOCATE = SITE "P18" LEVEL 1;
COMP "nixies<20>" LOCATE = SITE "P57" LEVEL 1;
COMP "nixies<12>" LOCATE = SITE "P19" LEVEL 1;
COMP "nixies<21>" LOCATE = SITE "P58" LEVEL 1;
COMP "nixies<13>" LOCATE = SITE "P24" LEVEL 1;
COMP "nixies<30>" LOCATE = SITE "P76" LEVEL 1;
COMP "nixies<22>" LOCATE = SITE "P59" LEVEL 1;
COMP "nixies<14>" LOCATE = SITE "P25" LEVEL 1;
COMP "nixies<31>" LOCATE = SITE "P77" LEVEL 1;
COMP "nixies<23>" LOCATE = SITE "P60" LEVEL 1;
COMP "nixies<15>" LOCATE = SITE "P27" LEVEL 1;
COMP "nixies<40>" LOCATE = SITE "P90" LEVEL 1;
COMP "nixies<32>" LOCATE = SITE "P78" LEVEL 1;
COMP "nixies<24>" LOCATE = SITE "P68" LEVEL 1;
COMP "nixies<16>" LOCATE = SITE "P28" LEVEL 1;
COMP "nixies<41>" LOCATE = SITE "P91" LEVEL 1;
COMP "nixies<33>" LOCATE = SITE "P79" LEVEL 1;
COMP "nixies<25>" LOCATE = SITE "P69" LEVEL 1;
COMP "nixies<17>" LOCATE = SITE "P29" LEVEL 1;
COMP "nixies<50>" LOCATE = SITE "P104" LEVEL 1;
COMP "nixies<42>" LOCATE = SITE "P92" LEVEL 1;
COMP "nixies<34>" LOCATE = SITE "P82" LEVEL 1;
COMP "nixies<26>" LOCATE = SITE "P70" LEVEL 1;
COMP "nixies<18>" LOCATE = SITE "P30" LEVEL 1;
COMP "nixies<51>" LOCATE = SITE "P105" LEVEL 1;
COMP "nixies<43>" LOCATE = SITE "P93" LEVEL 1;
COMP "nixies<35>" LOCATE = SITE "P83" LEVEL 1;
COMP "nixies<27>" LOCATE = SITE "P71" LEVEL 1;
COMP "nixies<19>" LOCATE = SITE "P31" LEVEL 1;
COMP "nixies<52>" LOCATE = SITE "P110" LEVEL 1;
COMP "nixies<44>" LOCATE = SITE "P96" LEVEL 1;
COMP "nixies<36>" LOCATE = SITE "P84" LEVEL 1;
COMP "nixies<28>" LOCATE = SITE "P72" LEVEL 1;
COMP "nixies<53>" LOCATE = SITE "P111" LEVEL 1;
COMP "nixies<45>" LOCATE = SITE "P98" LEVEL 1;
COMP "nixies<37>" LOCATE = SITE "P85" LEVEL 1;
COMP "nixies<29>" LOCATE = SITE "P75" LEVEL 1;
COMP "nixies<54>" LOCATE = SITE "P112" LEVEL 1;
COMP "nixies<46>" LOCATE = SITE "P99" LEVEL 1;
COMP "nixies<38>" LOCATE = SITE "P87" LEVEL 1;
COMP "nixies<55>" LOCATE = SITE "P113" LEVEL 1;
COMP "nixies<47>" LOCATE = SITE "P101" LEVEL 1;
COMP "nixies<39>" LOCATE = SITE "P88" LEVEL 1;
COMP "nixies<56>" LOCATE = SITE "P114" LEVEL 1;
COMP "nixies<48>" LOCATE = SITE "P102" LEVEL 1;
COMP "nixies<57>" LOCATE = SITE "P115" LEVEL 1;
COMP "nixies<49>" LOCATE = SITE "P103" LEVEL 1;
COMP "nixies<58>" LOCATE = SITE "P116" LEVEL 1;
COMP "nixies<59>" LOCATE = SITE "P3" LEVEL 1;
COMP "spi_clk_in" LOCATE = SITE "P142" LEVEL 1;
COMP "spi_ncs_in" LOCATE = SITE "P117" LEVEL 1;
COMP "nixies<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "nixies<1>" LOCATE = SITE "P5" LEVEL 1;
COMP "nixies<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "nixies<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "nixies<4>" LOCATE = SITE "P8" LEVEL 1;
COMP "nixies<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "nixies<6>" LOCATE = SITE "P11" LEVEL 1;
COMP "nixies<7>" LOCATE = SITE "P12" LEVEL 1;
COMP "nixies<8>" LOCATE = SITE "P13" LEVEL 1;
COMP "nixies<9>" LOCATE = SITE "P15" LEVEL 1;
COMP "spi_miso_out" LOCATE = SITE "P139" LEVEL 1;
COMP "clk_in" LOCATE = SITE "P125" LEVEL 1;
COMP "spi_mosi_in" LOCATE = SITE "P138" LEVEL 1;
SCHEMATIC END;

